@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

// colors 
$black: #000000;
$white: #f1f1f1;
$gold: #D3AF37;
$light-grey: #EDEDED;
$blue: rgb(0, 63, 107);
$yellow: #F8BD64;
$green: #48EDB8;

// fonts
$fs-large: 2.5rem;
$fs-medium: 2rem;
$fs-small: 1.2rem;
$fs-extra-small: 1rem;


// font weights
$fw-reg: 300;
$fw-sb: 500;
$fw-b: 700;

// headers
h1 {
    font-size: $fs-large;
}

h2 {
    font-size: $fs-medium;
    font-weight: $fw-b;
}

h3 {
    font-size: $fs-small + .2;
    font-weight: $fw-b;
    margin-top: 2.5rem;
    line-height: 1.9rem;
}


p {
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: $fs-small;
    font-weight: $fw-reg;
}   

@media screen and (max-width: 1188px){
    h3 {
        margin-top: 2.5rem;
    }
    
}

@media screen and (max-width: 700px){

    h2 {
        font-size: 1.8rem;
    }

}




// shadows
.shadow-blur {
    -webkit-box-shadow: 0px 1px 23px 1px rgba(196,196,196,0.71); 
    box-shadow: 0px 1px 23px 1px rgba(196,196,196,0.71);
}

.dark-shadow {
    -webkit-box-shadow: 0px 5px 12px -2px rgba(140,140,140,0.82); 
    box-shadow: 0px 5px 12px -2px rgba(140,140,140,0.82);
}


// buttons

.main-button {
    text-align: center;
    background-color: $yellow;
    font-weight: $fw-b;
    font-size: $fs-small;
    color: black;
    display: inline-block;
    text-transform: uppercase;
    padding: .8rem 2rem;
    margin-top: 2rem;
}


// universal styles
.pad-top-bot{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.pad-sides {
    padding-left: 5vw;
    padding-right: 5vw;
}

// gradients
.blue-gradient {
    background: rgb(69,190,220);
    background: linear-gradient(90deg, rgba(69,190,220,1) 0%, rgba(24,163,223,1) 100%);
}

.deco-art {
    width: 4rem;
    height: 5px;
    background-color: $blue;
}


// shared 

.two-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    width: 45%;
}

@media screen and (max-width: 820px){

    .two-col {
        flex-direction: column-reverse;
    }

    .col {
        width: 100%;
        margin-bottom: 2rem;
    }

    .col:last-child {
        margin-bottom: 0;
    }

}