@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #003F6B;
}

li {
  list-style: none;
}

img {
  display: block;
}

.container {
  padding-left: 5vw;
  padding-right: 5vw;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2.5rem;
  line-height: 1.9rem;
}

p {
  margin-top: 1rem;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-weight: 300;
}

@media screen and (max-width: 1188px) {
  h3 {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 1.8rem;
  }
}

.shadow-blur {
  -webkit-box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
  box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
}

.dark-shadow {
  -webkit-box-shadow: 0px 5px 12px -2px rgba(140, 140, 140, 0.82);
  box-shadow: 0px 5px 12px -2px rgba(140, 140, 140, 0.82);
}

.main-button, .main .button {
  text-align: center;
  background-color: #F8BD64;
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
  display: inline-block;
  text-transform: uppercase;
  padding: .8rem 2rem;
  margin-top: 2rem;
}

.pad-top-bot {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pad-sides {
  padding-left: 5vw;
  padding-right: 5vw;
}

.blue-gradient {
  background: #45bedc;
  background: -webkit-gradient(linear, left top, right top, from(#45bedc), to(#18a3df));
  background: linear-gradient(90deg, #45bedc 0%, #18a3df 100%);
}

.deco-art {
  width: 4rem;
  height: 5px;
  background-color: #003f6b;
}

.two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  width: 45%;
}

@media screen and (max-width: 820px) {
  .two-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .col {
    width: 100%;
    margin-bottom: 2rem;
  }
  .col:last-child {
    margin-bottom: 0;
  }
}

.main {
  position: relative;
}

.main .main-img, .main .mobile-img {
  width: 100%;
}

.main .main-img img, .main .mobile-img img {
  width: 100%;
}

.main .mobile-img {
  display: none;
}

.main .main-content {
  background-color: rgba(0, 63, 107, 0.85);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 5vw;
}

.main .bar-deco {
  width: 4rem;
  height: 5px;
  background-color: #F8BD64;
}

.main h1 {
  color: #f1f1f1;
  margin-top: 1rem;
}

.main h2 {
  color: #F8BD64;
}

.main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f1f1f1;
  font-weight: 300;
}

.main i {
  color: #f1f1f1;
  font-size: 10px;
  margin: 7px;
}

@media screen and (max-width: 1088px) {
  .main h1 {
    font-size: 1.8rem;
  }
  .main h2 {
    font-size: 1.8rem;
  }
  .main .main-content {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .main h1 {
    font-size: 1.3rem;
  }
  .main h2 {
    font-size: 1.3rem;
  }
  .main .main-content {
    padding: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .main .main-img {
    display: none;
  }
  .main .mobile-img {
    display: block;
  }
  .main .main-content {
    top: 10%;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    margin-right: 5vw;
  }
  .main ul {
    display: block;
  }
  .main li {
    list-style: circle;
    margin-left: 1rem;
  }
  .main i {
    display: none;
  }
}
/*# sourceMappingURL=Main.css.map */