@import '../../Styles/index';
@import '../../Styles/variables';


.main {
    position: relative;

    .main-img, .mobile-img{
        width: 100%;
    }

    .main-img img, .mobile-img img{
        width: 100%;
    }

    .mobile-img {
        display: none;
    }

    .main-content {
        background-color: rgba(0, 63, 107, .85);
        padding: 2rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 5vw;
    }

    .bar-deco{
        width: 4rem;
        height: 5px;
        background-color: $yellow;
    }

    h1 {
        color: $white;
        margin-top: 1rem;
    }

    h2{
        color: $yellow;
    }

    ul {
        display: flex;
        color: $white;
        font-weight: $fw-reg;
    }

    i{
        color: $white;
        font-size: 10px;
        margin: 7px;
    }
    
    .button {
        @extend .main-button;
    }
}

@media screen and (max-width: 1088px){
    .main {
        h1 {
            font-size: 1.8rem;
        }

        h2{
            font-size: 1.8rem;
        }

        .main-content {
            width: 60%;
        }
    }
}
@media screen and (max-width: 800px){
    .main {
        h1 {
            font-size: 1.3rem;
        }

        h2{
            font-size: 1.3rem;
        }

        .main-content {
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 800px){
    .main {
        
        .main-img {
            display: none;
        }

        .mobile-img {
            display: block;
        }

        .main-content {
            top: 10%;
            transform: translateY(-10%);
            margin-right: 5vw;
        }

        ul {
            display: block;
        }

        li{
            list-style: circle;
            margin-left: 1rem;
        }

        i {
            display: none;
        }
    }
}