@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #003F6B;
}

li {
  list-style: none;
}

img {
  display: block;
}

.container {
  padding-left: 5vw;
  padding-right: 5vw;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2.5rem;
  line-height: 1.9rem;
}

p {
  margin-top: 1rem;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-weight: 300;
}

@media screen and (max-width: 1188px) {
  h3 {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 1.8rem;
  }
}

.shadow-blur {
  -webkit-box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
  box-shadow: 0px 1px 23px 1px rgba(196, 196, 196, 0.71);
}

.dark-shadow {
  -webkit-box-shadow: 0px 5px 12px -2px rgba(140, 140, 140, 0.82);
  box-shadow: 0px 5px 12px -2px rgba(140, 140, 140, 0.82);
}

.main-button {
  text-align: center;
  background-color: #F8BD64;
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
  display: inline-block;
  text-transform: uppercase;
  padding: .8rem 2rem;
  margin-top: 2rem;
}

.pad-top-bot, .free-estimate .sales {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pad-sides, .free-estimate .sales {
  padding-left: 5vw;
  padding-right: 5vw;
}

.blue-gradient {
  background: #45bedc;
  background: -webkit-gradient(linear, left top, right top, from(#45bedc), to(#18a3df));
  background: linear-gradient(90deg, #45bedc 0%, #18a3df 100%);
}

.deco-art {
  width: 4rem;
  height: 5px;
  background-color: #003f6b;
}

.two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  width: 45%;
}

.col img {
  width: 100%;
}

@media screen and (max-width: 820px) {
  .two-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .col {
    width: 100%;
    margin-bottom: 2rem;
  }
  .col:last-child {
    margin-bottom: 0;
  }
}

.free-estimate .header {
  margin-bottom: 50px;
}

.free-estimate .sales {
  width: 100%;
  background-color: #003f6b;
  text-align: center;
}

.free-estimate .sales h2, .free-estimate .sales p {
  color: #f1f1f1;
  max-width: 500px;
  margin: 0 auto;
}

.free-estimate .get-quote {
  background-color: #003f6b;
}

.free-estimate .get-quote h2 {
  color: #f1f1f1;
}

.free-estimate .col .video {
  width: 100%;
  display: block;
}

.free-estimate .col iframe {
  width: 100%;
  height: 500px;
  display: block;
}

.free-estimate .card {
  padding: 5vw;
}

.free-estimate .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 3rem;
  width: 50%;
  background-color: #F8BD64;
  color: #003f6b;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 13px 0px #575757;
  box-shadow: 2px 4px 13px 0px #575757;
}

.free-estimate .footer {
  padding-top: 1rem;
}

.free-estimate .sales > i {
  font-size: 50px;
  color: #003f6b;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.free-estimate .wpp {
  background-color: #F8BD64;
  color: #003f6b;
  padding: 2rem;
}

.free-estimate .wpp h2 {
  color: #003f6b;
}

.free-estimate .phone-us {
  padding-top: 0;
}

.free-estimate .phone-us h2 {
  margin-bottom: 1rem;
  border: 1px solid #003f6b;
}

.free-estimate .phone-us h3 {
  margin-top: 0;
}

.free-estimate .phone-us i {
  font-size: 30px;
}

@media screen and (max-width: 700px) {
  .free-estimate .button {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    width: 90%;
  }
}
/*# sourceMappingURL=FreeEstimate.css.map */